body{
    background-color:white; 
}



nav{
    background-color: #9C6D9D;
    
    padding-bottom: 15px; 
    margin-bottom: 30px; 
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-radius: 0;
    padding:10px 0;
}

